<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DashBoard</title>
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"  />
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

</head>
<body>
    
    <section id="menu">
        <div class="logo">
            <img src="/static/images/logo.png" alt="logo section">
            <h2>Dynamic</h2>
        </div>

        <div class="items">
            <li>
               <i class="fad fa-chart-pie-alt"></i><a href="#">DashBoard</a>
            </li>
            <li>
               <i class="fab fa-uikit"></i><a href="#">Elements</a>
            </li>
            <li>
               <i class="fas fa-th-large"></i><a href="#">Tables</a>
            </li>
            <li>
               <i class="fas fa-edit"></i><a href="#">Forms</a>
            </li>
            <li>
               <i class="fab fa-cc-visa"></i><a href="#">Cards</a>
            </li>
            <li>
               <i class="fas fa-hamburger"></i><a href="#">Modals</a>
            </li>
            <li>
               <i class="fas fa-chart-line"></i><a href="#">Blank</a>
            </li>
        </div>
    </section>

    <!-- interface section here from the nav bar to the componenets here -->

    <section id="interface">
        <div class="navigation">
            <div class="n1">
                <div>
                    <i id="menu-btn" class="fas fa-bars"></i>
                </div>
                <div class="search">
                    <i class="far fa-search"></i>
                    <input type="text" placeholder="search here">
                </div>
            </div>

            <div class="profile">
                <i class="far fa-bell"></i>
                <img src="/static/images/1.jpg" alt="">
            </div>
        </div>
        <h3 class="i-name">
            Dashboard
        </h3>
<!-- card section mhere -->
        <div class="values">
            <div class="val-box">
                <i class="fas fa-user"></i>
                <div class="">
                    <h3>8,2367</h3>
                    <span>New user</span>
                </div>
            </div>
            <div class="val-box">
                <i class="fas fa-acorn"></i>
                <div class="">
                    <h3>8,2367</h3>
                    <span>Total orders</span>
                </div>
            </div>
            <div class="val-box">
                <i class="fas fa-dollar-sign"></i>
                <div class="">
                    <h3>8,2367</h3>
                    <span>Product sell</span>
                </div>
            </div>
            <div class="val-box">
                <i class="fas fa-shopping-cart"></i>
                <div class="">
                    <h3>8,2367</h3>
                    <span>This month</span>
                </div>
            </div>
        </div>


        <!-- table section here -->


        <div class="border">
            <table width=" 100%">
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>Title</td>
                        <td>Status</td>
                        <td>Roles</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="people">
                            <img src="/static/images/1.jpg" alt="">
                            <div class="people-de">
                                <h5>John Doe</h5>
                                <p>clo@jmail.com</p>
                            </div>
                        </td>

                        <td class="people-des">
                            <h5>Software Engineering </h5>
                            <p>web dev</p>

                        </td>
                        <td class="active">
                            <p>Active</p>
                        </td>
                        <td class="role">
                            <p>Owner</p>
                        </td>
                        <td class="edit">
                            <a href="#"> Edit</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="people">
                            <img src="/static/images/1.jpg" alt="">
                            <div class="people-de">
                                <h5>John Doe</h5>
                                <p>clo@jmail.com</p>
                            </div>
                        </td>

                        <td class="people-des">
                            <h5>Software Engineering </h5>
                            <p>web dev</p>

                        </td>
                        <td class="active">
                            <p>Active</p>
                        </td>
                        <td class="role">
                            <p>Owner</p>
                        </td>
                        <td class="edit">
                            <a href="#"> Edit</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="people">
                            <img src="/static/images/1.jpg" alt="">
                            <div class="people-de">
                                <h5>John Doe</h5>
                                <p>clo@jmail.com</p>
                            </div>
                        </td>

                        <td class="people-des">
                            <h5>Software Engineering </h5>
                            <p>web dev</p>

                        </td>
                        <td class="active">
                            <p>Active</p>
                        </td>
                        <td class="role">
                            <p>Owner</p>
                        </td>
                        <td class="edit">
                            <a href="#"> Edit</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="people">
                            <img src="/static/images/1.jpg" alt="">
                            <div class="people-de">
                                <h5>John Doe</h5>
                                <p>clo@jmail.com</p>
                            </div>
                        </td>

                        <td class="people-des">
                            <h5>Software Engineering </h5>
                            <p>web dev</p>

                        </td>
                        <td class="active">
                            <p>Active</p>
                        </td>
                        <td class="role">
                            <p>Owner</p>
                        </td>
                        <td class="edit">
                            <a href="#"> Edit</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="people">
                            <img src="/static/images/1.jpg" alt="">
                            <div class="people-de">
                                <h5>John Doe</h5>
                                <p>clo@jmail.com</p>
                            </div>
                        </td>

                        <td class="people-des">
                            <h5>Software Engineering </h5>
                            <p>web dev</p>

                        </td>
                        <td class="active">
                            <p>Active</p>
                        </td>
                        <td class="role">
                            <p>Owner</p>
                        </td>
                        <td class="edit">
                            <a href="#"> Edit</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="people">
                            <img src="/static/images/1.jpg" alt="">
                            <div class="people-de">
                                <h5>John Doe</h5>
                                <p>clo@jmail.com</p>
                            </div>
                        </td>

                        <td class="people-des">
                            <h5>Software Engineering </h5>
                            <p>web dev</p>

                        </td>
                        <td class="active">
                            <p>Active</p>
                        </td>
                        <td class="role">
                            <p>Owner</p>
                        </td>
                        <td class="edit">
                            <a href="#"> Edit</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="people">
                            <img src="/static/images/1.jpg" alt="">
                            <div class="people-de">
                                <h5>John Doe</h5>
                                <p>clo@jmail.com</p>
                            </div>
                        </td>

                        <td class="people-des">
                            <h5>Software Engineering </h5>
                            <p>web dev</p>

                        </td>
                        <td class="active">
                            <p>Active</p>
                        </td>
                        <td class="role">
                            <p>Owner</p>
                        </td>
                        <td class="edit">
                            <a href="#"> Edit</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="people">
                            <img src="/static/images/1.jpg" alt="">
                            <div class="people-de">
                                <h5>John Doe</h5>
                                <p>clo@jmail.com</p>
                            </div>
                        </td>

                        <td class="people-des">
                            <h5>Software Engineering </h5>
                            <p>web dev</p>

                        </td>
                        <td class="active">
                            <p>Active</p>
                        </td>
                        <td class="role">
                            <p>Owner</p>
                        </td>
                        <td class="edit">
                            <a href="#"> Edit</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="people">
                            <img src="/static/images/1.jpg" alt="">
                            <div class="people-de">
                                <h5>John Doe</h5>
                                <p>clo@jmail.com</p>
                            </div>
                        </td>

                        <td class="people-des">
                            <h5>Software Engineering </h5>
                            <p>web dev</p>

                        </td>
                        <td class="active">
                            <p>Active</p>
                        </td>
                        <td class="role">
                            <p>Owner</p>
                        </td>
                        <td class="edit">
                            <a href="#"> Edit</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="people">
                            <img src="/static/images/1.jpg" alt="">
                            <div class="people-de">
                                <h5>John Doe</h5>
                                <p>example@jmail.com</p>
                            </div>
                        </td>

                        <td class="people-des">
                            <h5>Software Engineering </h5>
                            <p>React Dev</p>

                        </td>
                        <td class="active">
                            <p>Active</p>
                        </td>
                        <td class="role">
                            <p>Owner</p>
                        </td>
                        <td class="edit">
                            <a href="#"> Edit</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="people">
                            <img src="/static/images/1.jpg" alt="">
                            <div class="people-de">
                                <h5>John Doe</h5>
                                <p>clo@jmail.com</p>
                            </div>
                        </td>

                        <td class="people-des">
                            <h5>Software Engineering </h5>
                            <p>web dev</p>

                        </td>
                        <td class="active">
                            <p>Active</p>
                        </td>
                        <td class="role">
                            <p>Owner</p>
                        </td>
                        <td class="edit">
                            <a href="#"> Edit</a>
                        </td>
                    </tr>
                </tbody>

            </table>


        </div>
    </section>







<script>
    $("#menu-btn").click(function(){
    $("#menu").toggleClass("active");
})
</script>


<!-- </script src="../static/index.js"></script> -->
</body>
</html>